.photo-grid__list {
  margin-top: 92px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  width: 100%;
  gap: 16px;

}

@media screen and (width:1024px) {
  .photo-grid__list {
    gap: 14px;
  }
}
