.places__place-link {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
}

.places__place-link:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .places__place-link {
    margin-left: 16px;
  }
}
