.lead {
  margin: 0 auto;
  width: calc(100% - 296px);
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .lead {
    width: calc(100% - 2*48px);
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 768px;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    max-width: 320px;
  }
}
