.lead__main-photo-container {
  margin: auto;
}

@media screen and (max-width: 1024px) {
  .lead__main-photo-container {
    width: calc(100% - 2*48px);
  }
}

@media screen and (max-width: 768px) {
  .lead__main-photo-container {
    width: 100%;
  }
}
