.places__place-img {
  max-width: 460px;
  height: auto;
}

@media screen and (max-width: 1024px) {
  .places__place-img {
    max-width: 42.96875vw;

  }
}

@media screen and (max-width: 768px) {
  .places__place-img {
    max-width: 44.2708333vw;
  }
}

@media screen and (max-width: 544px) {
  .places__place-img {
    max-width: calc(100vw - 2*24px);
  }
}

@media screen and (max-width: 320px) {
  .places__place-img {
    max-width: 320px;
  }
}
