.footer__copyrights {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #FFFFFF;
}

@media screen and (max-width: 320px) {
  .footer__copyrights {
    font-size: 14px;
    line-height: 14px;
    margin-left: 16px;
    margin-top: 48px;
    text-align: left;
  }
}
