.footer__list-item {
margin-right: 18px;
}

@media screen and (max-width: 320px) {
  .footer__list-item {
    margin-bottom: 32px;
    margin-left: 16px;
  }
  .footer__list-item:nth-last-of-type(1) {
    margin-bottom: 0;
  }
}
